<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->

</head>

<body>
    <div class="container  ">

        <div class="jumbotron text-center justify-content-center">
            <h1><i class="fa fa-github-alt"></i> Cat Memes</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn-lg btn-success"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn-lg btn-warning"><span class="fa fa-user"></span> Signup</a>

            <div class="text-center">
                <a href="/upload" class="btn-lg btn-info"><span class="fa fa-upload"></span> Upload</a>
            </div>

        </div>

    </div>
</body>

</html>

<style>
    html,
    body {
        background-color: #333;
    }
    
    .jumbotron {
        margin: auto;
        width: 50%;
        background-color: white;
        border: 1px solid black;
    }
    
    body {
        padding-top: 80px;
    }
</style>