<body>
  <h2 class="subTitulos" style="margin-bottom: 15px">Your selected game</h2>

  <div ng-repeat="game in games" class="buttonsBOX">
    <div class="action_btn">
      <a ui-sref="home">
        <button type="submit" value="submit" class="btn btn-warning">
          Go Back
        </button>
      </a>

      <a ng-show="isAdmin" ui-sref="editGame({id:game._id})">
        <button type="submit" value="submit" class="btn btn-info">
         Edit Game
        </button>
      </a>
    </div>
  </div>

  <div class="card mb-3 text-white bg-dark mt-5">
    <div class="row" ng-repeat="game in games">
      <div class="col-6 col-md-3 mr-4 ml-5">
        <img class="movieImgConfigDetails" src="{{game.img_url}}" />
      </div>
      <div class="col-12 col-md-8">
        <div class="card-body">
          <div class="card text-white bg-success mb-3">
            <div class="card-header">
              <h5 class="subTitulos">{{game.name}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5 class="text-center">Game Developers:</h5>
              <ul ng-repeat="i in game.Developers">
                <li>{{i.name}}</li>
              </ul>
            </div>
            <div class="col">
              <h5 class="text-center">Game Publisher:</h5>
              <ul ng-repeat="i in game.Publisher">
                <li>{{i.name}}</li>
              </ul>
            </div>

            <div class="w-100"></div>
            <div class="col">
              <h5 class="text-center">Game Type:</h5>
              <ul ng-repeat="i in game.Type_of_Game">
                <li>{{i.types}}</li>
              </ul>
            </div>

            <div class="col">
              <h5 class="text-center">Currently Selling:</h5>
              <div ng-repeat="seller in sellers">
                <ul ng-repeat="i in seller.User_Game">
                  <li>{{i.user}}: {{seller.price}}€ <br> Keys: {{seller.quantity}}</li>
                </ul>
              </div>
              <p class="text-center bg-danger" ng-if="sellers.length==0">
                There are no sellers currently selling this game.
            </p>
            </div>
          </div>

          <h5 class="text-center">Release date:</h5>
          <p class="font-italic font-weight-light text-center">
            {{game.release_date}}
          </p>
        </div>
      </div>
    </div>


    
    <button ng-show="isAdmin" ng-click="deleteGame()" type="submit" value="submit" class="btn btn-danger">
      DELETE GAME
    </button>

  </div>
</body>
